*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #fafae1;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

.contenedor{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor_tarjeta{
  margin: 20px;
}

.contenedor_tarjeta a{
  display: inline-block;
}

.contenedor_tarjeta:hover figure{
  -webkit-transform: perspective(600px) rotateY(180deg);
  -ms-transform: perspective(600px) rotateY(180deg);
  -0-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);

  -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover figure img{
  filter: blur(5px);
}

figure{
  width: 450px;
  height: 540px;
  margin: 0;
  position: relative;
  -webkit-transition: all ease .5s;
  -ms-transform: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(600px) rotateY(0deg);
  -ms-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera{
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all ease .5s;
  -ms-transition: all ease .5s;
  transition: all ease .5s;
}

figure .frontal{
  display: block;
}

figure .trasera{
  position: absolute;
  top: 0;
  padding: 10px 20px;
  color: #273333;
  -webkit-transform: perspective(600px) rotateY(180deg);
  -ms-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;


}

figure .trasera .titulo{
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Mali', cursive;
  font-size: 22px;
  text-align: center;
}

figure .trasera hr{
  height: 2px;
  background: #9922c9;
  border: none;
  margin-bottom: 20px;
  opacity: .5;
}

figure .trasera p{
  font-family: 'Righteous', cursive;
  line-height: 22px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.mapa{
  margin: 20px auto;
  max-width: 400px;
  max-height: 520px;
  position: absolute;
}


h1,
#clock{
  text-align: center;
  font-family: 'Shalimar', cursive;
  font-weight: bold;
  font-size: 35px;
  color: #366ed6;
  margin: 10px auto;
}

#clock{
  color: #da1fb1;
}
.nombre{
  font-family: 'Inspiration', cursive;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.ubique{
  text-align: center;
  font-family: 'Shalimar', cursive;
  font-weight: bold;
  font-size: 35px;
  color: #DA58C0;
  /*position: relative;*/
  top: 0px;
}

@media (max-width: 600px) {
  figure{
    width: 280px;
    height: 500px;
  }
  figure .frontal{
    height: 500px;
    width: 280px;
  }
  figure .trasera .titulo{
    font-size: 18px;
    margin-bottom: 5px;
  }
  figure .trasera p{
    font-size: 18px;
    margin: 1px;
  }
  
  .mapa{
    margin: 5px auto;
    max-width: 280px;
  }
  h1,
  #clock{
    font-size: 26px;
  }
  .nombre{
    font-size: 30px;
    margin-top: 5px;
  }
  .ubique{
    font-size: 26px;
    
  }
  .ubique img{
    height: 20%;
    width: 20%;
  }
  .contenedor_tarjeta {
    margin: 45px;
}
}
